
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" content="width=device-width">
    <title>키워드 뉴스</title>
    <link href="/static/style.css?a" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/static/script.js"></script>
</head>
<body>
    <div style="padding:10px;">
        <a href="/">🏠HOME</a>
    </div>
    <header class = "post-head">
<!--    <a class = "post-head-runninghead" href="/news/"><b>{{topic}}</b></a>-->

    </header>



    <div class="post-container">
        <h1 style="padding:10px class = "post-head-headline"><b>{{title}}</b></h1>
    <time class = "post-head-date"><b>{{time}}</b></time>
      <p>

      </p>

      <div class = "post-body">
        <span><strong>언론사</strong></span> :
        <span>{{media}}</span>

        <p>
        <span><strong>요약 기사</strong></span> :
        <span>{{abs_news}}</span>
        </p>
        <p style="border-bottom: 1px solid #051619;">
            <span><strong><a href="{{url}}"><b>기사 보기</b></a></strong></span>
<!--         <span><strong>기사 원문</strong></span>:-->
<!--        <span >{{news}}</span>-->
        </p>

      </div>

    </div>

    </div>

<script>

 function test(imageName) {
    LoadingWithMask();
    setTimeout("closeLoadingWithMask()", 3000);
 }

 function LoadingWithMask() {
     //화면의 높이와 너비를 구합니다.
     var maskHeight = $(document).height();
     var maskWidth = window.document.body.clientWidth
     //화면에 출력할 마스크를 설정해줍니다.
     var mask = "<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'></div>";
     var loadingImg = '';
     loadingImg += "<div id='loadingImg'>";
     loadingImg += " <img src='static/media/gosum-home.b6221c14.png' style='position: relative; display: block; margin: 0px auto;'/>";
     loadingImg += "</div>";
     //화면에 레이어 추가
     $('body').append(mask).append(loadingImg)
     //마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채웁니다.
     $('#mask').css({'width' : maskWidth, 'height': maskHeight, 'opacity' : '0.3'});
     //마스크 표시
     $('#mask').show();
     //로딩중 이미지 표시
     $('#loadingImg').show();
 }

 function closeLoadingWithMask() {
    $('#mask, #loadingImg').hide();
    $('#mask, #loadingImg').empty();
  }
</script>

</body>
</html>