<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" content="width=device-width">
    <title>키워드 뉴스</title>
    <link href="/static/style.css?a" rel="stylesheet" type="text/css" />
    <script src="/static/script.js"></script>
</head>
<body>
    <div style="padding:10px;">
        <a href="/">HOME</a>
        <a href="/news">LIST</a>
    </div>
    <header class = "post-head">
<!--    <a class = "post-head-runninghead" href="/news/"><b>{{topic}}</b></a>-->

    </header>
