<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div> 
    <from class="search">
      <fieldset class="textfield">
        <button class="search-close" aria-label="delte" type="button">Click
        </button>
        <input class="textfield-input" type="search" id="help-search" placeholder="뉴스썸아 이게 궁금해. (키워드, url)" name="search"> 
      </fieldset>
  
  </div>
</body>

</html>