<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>테마별 뉴스</title>
</head>
<body>
    <div style="padding:10px;">
        <a href="/">HOME</a>
        <a href="/news">LIST</a>
    </div>

    <h1 style="padding:10px;"><b>{{topic}}</b> </h1>

    <div style="padding:10px; border-bottom: 1px solid #051619;">
        <span>언론사</span> :
        <span>{{media_3}}</span>
        <p>
          <span>시간</span> :
        <span>{{time_3}}</span>
        </p>
        <p>
         <span>기사 제목</span> :
        <span>{{title_3}}</span>
        </p>
        <p>
         <span>기사</span> :
        <span>{{news_3}}</span>
        </p>
        <p>
         <span>요약 기사</span> :
        <span>{{abs_news_3}}</span>
        </p>
    </div>

    <div style="padding:10px; border-bottom: 1px solid #051619;">
        <span>언론사</span> :
        <span>{{media_2}}</span>
        <p>
          <span>시간</span> :
        <span>{{time_2}}</span>
        </p>
        <p>
         <span>기사 제목</span> :
        <span>{{title_2}}}</span>
        </p>
        <p>
         <span>기사</span> :
        <span>{{news_2}}</span>
        </p>
        <p>
         <span>요약 기사</span> :
        <span>{{abs_news_2}}</span>
        </p>

    </div>

    <div style="padding:10px; border-bottom: 1px solid #051619;">
            <span>언론사</span> :
            <span>{{media_1}}</span>
            <p>
              <span>시간</span> :
            <span>{{time_1}}</span>
            </p>
            <p>
             <span>기사 제목</span> :
            <span>{{title_1}}</span>
            </p>
            <p>
             <span>기사</span> :
            <span>{{news_1}}</span>
            </p>
            <p>
             <span>요약 기사</span> :
            <span>{{abs_news_1}}</span>
            </p>
    </div>


</body>
</html>